.MuiTableContainer-root {
  overflow-x: auto;
}

.MuiTable-root {
  min-width: 650px;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: var(--color-background-dark);
}

.MuiTableRow-root:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

@media (max-width: 1200px) {
  .MuiTableCell-root {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .MuiTableCell-root {
    padding: 6px;
    font-size: 0.9rem;
  }
}
